* {
    border: 1px solid black;
    margin: 5px;
}

body {
    display: flex;
    justify-content: center;
}

#calculator-content {
    width: 500px;
    text-align: center;
    background-color: #212438;
    border-radius: 10px;
    color: #d0d5d9;
}

#calculator-name {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
}

#display {
    height: 50px;
    text-align: right;
    background-color: #587a6c;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    padding: 5px;
}

#clear-button {
    font-size: 40px;
    width: 350px;
}

.button {
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 85px;
    font-size: 30px;
}

.operation {
    background-color: #525f88;
    color: #d0d5d9;
}

.equals {
    background-color: #3586c3;
    color: #d0d5d9;
}