* {
    border: 1px solid black;
    margin: 5px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#calculator-content {
    width: 400px;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
}

#display {
    height: 50px;
}

#clear-button {
    height: 50px;
}

.button {
    height: 85px;
    width: 85px;
}